*{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.w-100{
    width: 100%;
}

.d-flex{
    
    display: flex;
    
}

.fixed{
    position: fixed;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
}

.relative{
    position: relative;
}

.between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.w-50{
    width: 50%;
}

.nav ul li{
    margin-left: 3.8em;
}

/* .menutop-ulcon{
    display: flex;
    align-items:center !important;
} */

.nav{
    justify-content: space-between;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}



.menu-bottom{
   padding: 0% 13%;
}

