<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/chitietsp.css">
    
</head>
<body>
    
<header>
        <nav class="nav d-flex" style="padding: 2% 0;">
            <!-- <div class="d-flex"> -->
                
                    <div class="logo">
                        <img src="../images/logophongtra.png" alt="phong tra " style="width: 110%">
                    </div>
                    
                    <div class="menutop-ul">
                        <div class="menutop-ulcon" style="align-items: center!important;">
                            <ul class="menu-1 d-flex " style="margin: 2% 0;">   
                                <li class="item">
                                    <a href="../view/tc.html" class="link">Trang chủ</a>
                                </li>
                                <li class="item">
                                    <a href="../view/gioithieu.html" class="link">Giới thiệu</a>
                                </li>
                                <li class="item">
                                    <a href="../view/sanpham.html" class="link">Sản phẩm</a>
                                </li>
                                <li class="item">
                                <a href="../view/tintuc.html" class="link">Tin tức</a>
                                </li>
                                <li class="item">
                                <a href="../view/lienhe.html" class="link">Liên hệ</a>
                                </li>
                    </ul>
                        </div>
                    </div>
                    
        </nav>
</header>

<div class="all relative" style="margin-top: 3%;">
    <div class="view3-background">
        <img src="../images/background.jpg" alt="background" style="width: 100%;">
    </div>
    <div class="headbody absolute">
    <section>
        <div class="view2-menu ">
            <div class="menu-top " >
                    <div class="view2-menutopleft d-flex">
                        <div class="view2-menuleft">
                            <ul class="view2-list">
                                <li>
                                    <img src="../images/img-1.jpg" alt="trà">
                                </li>
                                <li>
                                    <img src="../images/img-2.jpg" alt="trà">
                                </li>
                                <li>
                                    <img src="../images/img-3.jpg" alt="trà">   
                                </li>
                            </ul>
                        </div>


                        <div class="view2-menucenter">
                            <img src="../images/main.jpg" alt="trà to" style="width: 100%">
                        </div>
                    </div>


                <div class="view2-menutopright" style="width: 20%;">
                    <div class="view2-menutopcontent">
                        <span class="word-big">TRÀ SEN TUYẾT </span><br><br>
                    </div>
                    <div class="sao d-flex">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>  
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>  
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>  
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>  
                        </div>
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>  
                        </div>
                    </div>
                    <div class="giá text-center d-flex">
                        <span>70.000 VNĐ</span>
                        <span>200g</span><br><br>
                    </div>
                    <div>
                        <span class="icon"></span>
                    </div>
                    <div>
                        <p>SẢN PHẨM VỆ SINH ĐẠT CHUẨN AN TOÀN THỰC PHẨM</p><br>
                    </div>
                    <div>
                        <p>Trà Shan Tuyết Chè Shan Tuyết hay còn được gọi là trà tuyếtĐây là loại trà đặc sản của các đồng bào tộc người Tây, Giao, Mông và là đặc sản của các ảnh như Hà Giang, Điện Biên, Lào Cai</p><br>
                        <p>Đặc điểm của trà Shan Tuyết là búp trà (cánh trà) rất DO VÀ màu trắng, dưới cánh trà phủ lớp lông tơ mịn mẫu trắng</p><br>
                        <p>* Cây trà Shan Tuyết cổ thụ rất lớn, có khi vài người lớn vòng tay ôm. Mọc ở trên núi cao hơn 1200m, quanh năm mây mà và lạnh. Sự chênh lệch nhiệt độ giữa ngày và đêm là rất lớn, chính bởi có điều kiện tự nhiên thu vị như vậy tiến độ là nét độc đáo tạo ra một hương vị trà shan tuyết cổ thụ thơm ngon</p>
                    </div>
                </div>
            </div>

            <div class="view2-menubottom d-flex">
                    <div class="view2-menubottomleft">
                        <div class=" view2-logo">
                            <span class="view2-huongdan">HƯỚNG DẪN PHA</span><br>
                            <span class="view2-huongdan">TRÀ SHAN TUYẾT</span><br><br>
                        </div>
                        <ul class="menu2-danhsach  w-50 ">
                                    <li class="item">
                                        <ul class="icon-water d-flex">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
                                                    <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
                                                  </svg>
                                            </li>
                                            <li>
                                                <span>Đổ vào ấm từ 150-200ml </span>
                                                <span>nước sôi nhiệt độ 85*C </span><br><br>
                                            </li>
                                        </ul>
                                        
                                    </li>
                                    <li class="item">
                                        <ul class="icon-que d-flex">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-thermometer-half" viewBox="0 0 16 16">
                                                    <path d="M9.5 12.5a1.5 1.5 0 1 1-2-1.415V6.5a.5.5 0 0 1 1 0v4.585a1.5 1.5 0 0 1 1 1.415z"/>
                                                    <path d="M5.5 2.5a2.5 2.5 0 0 1 5 0v7.55a3.5 3.5 0 1 1-5 0V2.5zM8 1a1.5 1.5 0 0 0-1.5 1.5v7.987l-.167.15a2.5 2.5 0 1 0 3.333 0l-.166-.15V2.5A1.5 1.5 0 0 0 8 1z"/>
                                                  </svg>
                                            </li>
                                            <li>
                                                <span>1-2 nắm trà , khoảng 20-30 gram</span><br><br>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="item">
                                        <ul class="icon-watch d-flex">
                                            <li>
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-alarm-fill" viewBox="0 0 16 16">
                                                    <path d="M6 .5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H9v1.07a7.001 7.001 0 0 1 3.274 12.474l.601.602a.5.5 0 0 1-.707.708l-.746-.746A6.97 6.97 0 0 1 8 16a6.97 6.97 0 0 1-3.422-.892l-.746.746a.5.5 0 0 1-.707-.708l.602-.602A7.001 7.001 0 0 1 7 2.07V1h-.5A.5.5 0 0 1 6 .5zm2.5 5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5zM.86 5.387A2.5 2.5 0 1 1 4.387 1.86 8.035 8.035 0 0 0 .86 5.387zM11.613 1.86a2.5 2.5 0 1 1 3.527 3.527 8.035 8.035 0 0 0-3.527-3.527z"/>
                                                  </svg>
                                            </li>
                                            <li>
                                                <span>Để trà 4-6 phút</span>
                                            </li>
                                        </ul>
                                    </li> 
                        </ul>
                    </div>
                    <div class="view2-menubottomright">
                        <div class="view2-imagebottom">
                            <img class="image-view2" src="../images/phatra.jpg" alt="táo đỏ">
                        </div>
                    </div>
            </div>
        </div>
    </section>
    </div>
</div>

<section>
    <div>
        <div style="padding: 5% 0%;">
            <center style="font-size: 140%;">SẢN PHẨM LIÊN QUAN</center>
        </div>
            <div class="view5-product d-flex">
                <div class="product-item position-rel " >
                    <div class="top-product position-rel">
                        <div class="product-image">
                            <img class="images" src="../images/product-1.png" alt="images " style="width: 71%;">
                        </div>
                        <div class="product-sale ">
                            <p style="font-size: 75%;">NEW</p>
                        </div>
                    </div>
                    <div class="mid-product "> 
                        <h4 class="product-cate text-center" >Trà Shan Tuyết</h4>
                        <div class="giá text-center d-flex">
                            <span>50.000 VNĐ</span>
                            <span>200g</span>
                        </div>
                    </div>
                </div>
                <div class="product-item position-rel " >
                    <div class="top-product position-rel">
                        <div class="product-image">
                            <img class="images" src="../images/product-2.png" alt="images " style="width: 71%;">
                        </div>
                        <div class="product-sale ">
                            <p style="font-size: 75%;">NEW</p>
                        </div>
                    </div>
                    <div class="mid-product ">
                        <h4 class="product-cate text-center" >Trà Shan Tuyết</h4>
                        <div class="giá text-center d-flex">
                            <span>70.000 VNĐ</span>
                            <span>200g</span>
                        </div>
                    </div>
                </div>
                <div class="product-item position-rel " >
                    <div class="top-product position-rel">
                        <div class="product-image">
                            <img class="images" src="../images/product-3.png" alt="images " style="width: 71%;">
                        </div>
                        <div class="product-sale ">
                            <p style="font-size: 75%;">NEW</p>
                        </div>
                    </div>
                    <div class="mid-product ">
                        <h4 class="product-cate text-center" >Trà Shan Tuyết</h4>
                        <div class="giá text-center d-flex">
                            <span>70.000 VNĐ</span>
                            <span>200g</span>
                        </div>
                    </div>
                </div>
                <div class="product-item position-rel " >
                    <div class="top-product position-rel">
                        <div class="product-image">
                            <img class="images" src="../images/product-1.png" alt="images " style="width: 71%;">
                        </div>
                        <div class="product-sale ">
                            <p style="font-size: 75%;">NEW</p>
                        </div>
                    </div>
                    <div class="mid-product "> 
                        <h4 class="product-cate text-center" >Trà Shan Tuyết</h4>
                        <div class="giá text-center d-flex">
                            <span>50.000 VNĐ</span>
                            <span>200g</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>


<footer>
    <div class="view1-footer">
        <div class="tong2div relative">
            <div class="view1-image">
                <img src="../images/fotter.png" alt="footer" style="width: 100%;">
            </div>
            <div class="menu-bottom absolute">
                <ul class="menu d-flex letrai ">
                    <li class="content d-flex w-100">
                        <ul>
                        <img src="../images/logophongtra.png" alt="phong tra " style="width: 70%">
                            <li>
                                <a href=""> 7999-999-999</a>
                            </li>
                            <li>
                                <a href=""> Trasenbachdiep@gmail.com</a>
                            </li>
                            <li>
                                <a href=""> Số 12, Quảng An , Hồ Tây , Hà Nội</a>
                            </li>
                        </ul>
                            
                            
                    </li>
                    <li class="content d-flex w-100 " style="padding-left: 58px;">
                        <ul style="padding: 31px 0px;">
                        <h3 style="font-size: 125%!important;">VỀ CHÚNG TÔI</h3>
                        <li>
                            <a class="menucon"href=""> Giới Thiệu</a>
                        </li>
                        <li>
                            <a class="menucon"href=""> Sản Phẩm</a>
                        </li>
                        <li>
                            <a class="menucon" href="">Tin Tức</a>
                        </li>
                    </ul>
                    </li>
                    <li class="content d-flex w-100">
                        <ul style="padding: 31px 0px;">
                        <h3 style="font-size: 125%!important;">Liên Hệ</h3>
                        <li>
                            <img src="../images/yt.png" alt="youtube" style="width: 5%">
                            <img src="../images/ig.png" alt="instagram" style="width: 5%">
                            <img src="../images/images.png" alt="facebook" style="width: 5%">
                        </li>
                        <li>
                            <a class="menucon"href=""> Copynight 2010-2020</a>
                        </li>
                        <li>
                            <a class="menucon" href="">Trà Sen Bach Diep. all night</a>
                        </li>
                    </ul>
                        
                        
                    </li>
                </ul>
            </div>
</div>
</div>
</footer>

</body>


</html>