<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/gioithieu.css">
</head>
<body>
    <header>
        <nav class="nav d-flex" style="padding: 2% 0;">
            <!-- <div class="d-flex"> -->
                
                    <div class="logo">
                        <img src="../images/logophongtra.png" alt="phong tra " style="width: 110%">
                    </div>
                    
                    <div class="menutop-ul">
                        <div class="menutop-ulcon" style="align-items: center!important;">
                            <ul class="menu-1 d-flex " style="margin: 2% 0;">   
                                <li class="item">
                                    <a href="../view/tc.html" class="link">Trang chủ</a>
                                </li>
                                <li class="item">
                                    <a href="../view/gioithieu.html" class="link">Giới thiệu</a>
                                </li>
                                <li class="item">
                                    <a href="../view/sanpham.html" class="link">Sản phẩm</a>
                                </li>
                                <li class="item">
                                <a href="../view/tintuc.html" class="link">Tin tức</a>
                                </li>
                                <li class="item">
                                <a href="../view/lienhe.html" class="link">Liên hệ</a>
                                </li>
                    </ul>
                        </div>
                    </div>
                    
        </nav>
    </header>
    <section>
        <div class="all relative">
            <div class="view3-background">
                <img src="../images/background dai.jpg" alt="background" style="width: 100%;height: 1845px;">
            </div>
            <div class="headbody absolute">
                <section class="view3-section ">
                    <div class="view3-menu">
                        <div class="view3-menutop relative">
                            <div class="view3-banner">
                                <img src="../images/1 binh 2 ly.jpg" alt="1 bình 2 ly" style="width: 100%;">
                            </div>
                            <div class="view3-bachdiep absolute">
                                <div class="trasen">
                                <span class="content-trasen"> Trà Sen </span>
                                </div>
                                <div class="bachdiep">
                                    <span class="content-bachdiep"> Bách Diệp </span>
                                </div>
                            </div>
                        </div>
                
                        <div class="view3-menubottom">
                            <div class="view3-cap" style="text-align: center;">
                                <caption>GIỚI THIỆU</caption>
                            </div>
                            <div class="view3-centent" style="text-align: center;">
                                <div class="view3-content1 ">
                                    <p class="view3-gt" style="width: 60%;
                                    padding: 2% 20%; text-align: justify;">
                                        Bằng sự nỗ nục không ngừngtrải qua hơn 10 năm xây dựng và phát triển trong lĩnh vực trà Thái Nguyên, tháng 06/2017, công ty TNNHH Tân Cương Xanh chính thức kỉ niệm 20 năm thành lập (1997-2017). Trong 20 năm qua, thương hiệu trả Tân Cung Xanh đã ngày càng đi sâu vào thị trường trà Việt nói riêng và thế giới đồ uống nói chung.
                
                                        Với mục tiêu mang đến thị trường một sản phẩm trà mang thương hiệu Thái Nguyên “sạch” chính hiệu cũng như sự trăn trở về sự phát triển của thị trường chè Việt Nam, cách đây 10 nằm trên thị trường trà Việt, người con ưu tú đó đã thành lập một công ty chuyên sản xuất và phân phối về trà sạch mang thương hiệu “Tân Cương Xanh".
                                    </p>
                                <div class="view3-content2">
                                    <img src="../images/núi 1.png" alt="núi" style="width: 60%;">
                                </div>
                                <div class="view3-content3">
                                    <p class="view3-gt" style="width: 60%;
                                    padding: 2% 20%; text-align: justify;">Với phương châm “Uy tín chất lượng sản phẩm là mục tiêu số 1”, Công ty TNHH Tân Cương Xanh đã luôn nỗ lực cả về nhân lực, vật lực, xây dựng uy tín thương hiệu, niềm tin với khách hằng thông qua những sản phẩm của công ty. Cùng với sự tín nhiệm của khách hàng vào sản phẩm của Tân Cương Xanh trong thời gian qua, Tân Cương Xanh đã không những phát triển thành một công ty vững mạnh trong ngành trà thái nguyên ngon Việt Nam đạt được Cúp Vàng thương hiệu Doanh Nhân Tinh hoa Đất Việt và Thương hiệu vàng Uy tín... Từ đó tạo nên động lực để Tân Cương Xanh phấn đấu để trở thành một trong những tập đoàn sản xuất, chế biến và cung cấp trà hàng đầu Việt Nam và thế giới
                
                                    Sản Phẩm của công ty đạt đầy đủ tiêu chuẩn vệ sinh an toàn của Chi Cục Vệ Sinh An Toàn Thực Phẩm Của Thái Nguyên - Của chi cục Hà nội. Đạt tiêu chuẩn xuất khẩu Chicago - Hoa Kì. Trà Tân Cương một loại đồ uống nổi tiếng trong ám thực của người Việt Nam có hương thơm cốm dịu dàng đặc trưng, màu nước xanh trong, sánh và bến, vị chát dịu, uống xong có hậu ngọt lắng sâu trong vị giác người thưởng thức. Sản phẩm trà tân cương thái nguyên của nhà máy có tác dụng giải nhiệt, giảm béo, trị tăng huyết áp và phòng chống phóng xạ, chống ung thư... Với phương châm "Uy tín chất lượng sản phẩm là mục tiêu số 1", Công ty TNHH Tân Cương Xanh không ngừng phấn đấu để trở thành một trong những tập đoàn sản xuất, chế biến và cung cấp trả hàng đầu Việt Nam và thế giới</p>
                                </div>
                                <div class="view3-content4">
                                    <div class="view3-imagetre">
                                    <img src="../images/núi 2.png" alt="trè" style="width: 60%;">   
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                </section>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="view1-footer">
            <div class="tong2div relative">
                <div class="view1-image">
                    <img src="../images/fotter.png" alt="footer" style="width: 100%;">
                </div>
                <div class="menu-bottom absolute">
                    <ul class="menu d-flex letrai ">
                        <li class="content d-flex w-100">
                            <ul>
                            <img src="../images/logophongtra.png" alt="phong tra " style="width: 70%">
                                <li>
                                    <a href=""> 7999-999-999</a>
                                </li>
                                <li>
                                    <a href=""> Trasenbachdiep@gmail.com</a>
                                </li>
                                <li>
                                    <a href=""> Số 12, Quảng An , Hồ Tây , Hà Nội</a>
                                </li>
                            </ul>
                                
                                
                        </li>
                        <li class="content d-flex w-100 " style="padding-left: 58px;">
                            <ul style="padding: 31px 0px;">
                            <h3 style="font-size: 125%!important;">VỀ CHÚNG TÔI</h3>
                            <li>
                                <a class="menucon"href=""> Giới Thiệu</a>
                            </li>
                            <li>
                                <a class="menucon"href=""> Sản Phẩm</a>
                            </li>
                            <li>
                                <a class="menucon" href="">Tin Tức</a>
                            </li>
                        </ul>
                        </li>
                        <li class="content d-flex w-100">
                            <ul style="padding: 31px 0px;">
                            <h3 style="font-size: 125%!important;">Liên Hệ</h3>
                            <li>
                                <img src="../images/yt.png" alt="youtube" style="width: 5%">
                                <img src="../images/ig.png" alt="instagram" style="width: 5%">
                                <img src="../images/images.png" alt="facebook" style="width: 5%">
                            </li>
                            <li>
                                <a class="menucon"href=""> Copynight 2010-2020</a>
                            </li>
                            <li>
                                <a class="menucon" href="">Trà Sen Bach Diep. all night</a>
                            </li>
                        </ul>
                            
                            
                        </li>
                    </ul>
                </div>
    </div>
    </div>
    </footer>
</body>
</html>