<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/lienhe.css">
    <link rel="stylesheet" href="../css/all.css">
</head>
<body>
    <header>
        <nav class="nav d-flex" style="padding: 2% 0;">
            <!-- <div class="d-flex"> -->
                
                    <div class="logo">
                        <img src="../images/logophongtra.png" alt="phong tra " style="width: 110%">
                    </div>
                    
                    <div class="menutop-ul">
                        <div class="menutop-ulcon" style="align-items: center!important;">
                            <ul class="menu-1 d-flex " style="margin: 2% 0;">   
                                <li class="item">
                                    <a href="../view/tc.html" class="link">Trang chủ</a>
                                </li>
                                <li class="item">
                                    <a href="../view/gioithieu.html" class="link">Giới thiệu</a>
                                </li>
                                <li class="item">
                                    <a href="../view/sanpham.html" class="link">Sản phẩm</a>
                                </li>
                                <li class="item">
                                <a href="../view/tintuc.html" class="link">Tin tức</a>
                                </li>
                                <li class="item">
                                <a href="../view/lienhe.html" class="link">Liên hệ</a>
                                </li>
                    </ul>
                        </div>
                    </div>
                    
        </nav>
    </header>

    
    <section>
            <div class="view4-body d-flex relative">
                <div class="view4-image">
                    <img src="../images/banner4.jpg" alt="banner4" style="width: 100%;">
                </div>
                <div class="view4-form absolute">
                    <h2 class="view4-input1">
                        LIÊN HỆ VỚI CHÚNG TÔI
                    </h2>
                    <div class="view4-input">
                        <input class="text" type="text" id="txt" name="txt" placeholder="Họ tên">             
                    </div>
                    <div class="view4-input">
                        <input class="text" type="email" name="email" id="email" placeholder="Email">
                    </div>
                    <div class="view4-input">
                        <input class="text" type="dienthoai" name="dienThoai" id="dienThoai" pattern="" placeholder="Số điện thoại">
                    </div>
                    <div class="view4-input">
                        <textarea class="text" name="noidung" id="noidung" cols="21px" rows="1px" placeholder="Nội dung"></textarea>
                    </div>
                    <div class="button">
                        <div class="view4-bottom">
                            <button class="bottom-con" style="background-color:  rgb(173, 221, 14);" cols="21px" rows="1px">Gửi</button>
                        </div>
                    </div>
            </div>
    </section>


    <footer>
        <div class="view1-footer">
            <div class="tong2div relative">
                <div class="view1-image">
                    <img src="../images/fotter.png" alt="footer" style="width: 100%;">
                </div>
                <div class="menu-bottom absolute">
                    <ul class="menu d-flex letrai ">
                        <li class="content d-flex w-100">
                            <ul>
                            <img src="../images/logophongtra.png" alt="phong tra " style="width: 70%">
                                <li>
                                    <a href=""> 7999-999-999</a>
                                </li>
                                <li>
                                    <a href=""> Trasenbachdiep@gmail.com</a>
                                </li>
                                <li>
                                    <a href=""> Số 12, Quảng An , Hồ Tây , Hà Nội</a>
                                </li>
                            </ul>
                                
                                
                        </li>
                        <li class="content d-flex w-100 " style="padding-left: 58px;">
                            <ul style="padding: 31px 0px;">
                            <h3 style="font-size: 125%!important;">VỀ CHÚNG TÔI</h3>
                            <li>
                                <a class="menucon"href=""> Giới Thiệu</a>
                            </li>
                            <li>
                                <a class="menucon"href=""> Sản Phẩm</a>
                            </li>
                            <li>
                                <a class="menucon" href="">Tin Tức</a>
                            </li>
                        </ul>
                        </li>
                        <li class="content d-flex w-100">
                            <ul style="padding: 31px 0px;">
                            <h3 style="font-size: 125%!important;">Liên Hệ</h3>
                            <li>
                                <img src="../images/yt.png" alt="youtube" style="width: 5%">
                                <img src="../images/ig.png" alt="instagram" style="width: 5%">
                                <img src="../images/images.png" alt="facebook" style="width: 5%">
                            </li>
                            <li>
                                <a class="menucon"href=""> Copynight 2010-2020</a>
                            </li>
                            <li>
                                <a class="menucon" href="">Trà Sen Bach Diep. all night</a>
                            </li>
                        </ul>
            
                        </li>
                    </ul>
                </div>
    </div>
    </div>
    </footer>
</body>
</html>