<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/trangchu.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</head>
<body>
    <header>
        <nav class="nav d-flex" style="padding: 2% 0;">
            <!-- <div class="d-flex"> -->
                
                    <div class="logo">
                        <img src="../images/logophongtra.png" alt="phong tra " style="width: 110%">
                    </div>
                    
                    <div class="menutop-ul">
                        <div class="menutop-ulcon" style="align-items: center!important;">
                            <ul class="menu-1 d-flex " style="margin: 2% 0;">   
                                <li class="item">
                                    <a href="../view/tc.html" class="link">Trang chủ</a>
                                </li>
                                <li class="item">
                                    <a href="../view/gioithieu.html" class="link">Giới thiệu</a>
                                </li>
                                <li class="item">
                                    <a href="../view/sanpham.html" class="link">Sản phẩm</a>
                                </li>
                                <li class="item">
                                <a href="../view/tintuc.html" class="link">Tin tức</a>
                                </li>
                                <li class="item">
                                <a href="../view/lienhe.html" class="link">Liên hệ</a>
                                </li>
                    </ul>
                        </div>
                    </div>
                    
        </nav>
    </header>

    <section>
        <div>
            <div class="bootstrap relative">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" style="background-color: green;"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" style="background-color: green;"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" style="background-color: green;"></li>
                    </ol>
                    <div class="carousel-inner">
                        <!-- <div class="carousel-son relative"> -->
                            <div class="carousel-item active">
                                <div class="carousel-son relative">
                                <img class="d-block w-100" src="../images/banner.png" alt="First slide">
                                </div>
                                <div class="top-content absolute" style="margin: 9% 20%;">
                                    <span style="font-size: 1.5rem!important;">TRÀ ƯỚP SEN TÂY HỒ</span>
                                </div>
                                <div class="topp-content absolute" style="margin: 16% 20%;width: 20%;">
                                    <span style="font-size: 60%!important;">Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát của sen Bách Diệp Tây Hồ và vị đậm đà của trà Tân Cương</span>
                                </div>
                                <div class="view7-top absolute" style="margin: 21% 20%;">
                                    <button class="bottom-con" style="background-color:  rgb(173, 221, 14); width: 150%;" cols="21px" rows="1px" >THỬ NGAY</button>
                                </div>
                            </div>
                    <div class="carousel-item">
                        <div class="carousel-son relative">
                            <img class="d-block w-100" src="../images/banner.png" alt="Second slide">
                        </div>
                        <div class="top-content absolute" style="margin: 9% 20%;">
                            <span style="font-size: 1.5rem!important;">TRÀ ƯỚP SEN TÂY HỒ</span>
                        </div>
                        <div class="topp-content absolute" style="margin: 16% 20%;width: 20%;">
                            <span style="font-size: 60%!important;">Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát của sen Bách Diệp Tây Hồ và vị đậm đà của trà Tân Cương</span>
                        </div>
                        <div class="view7-top absolute" style="margin: 21% 20%;">
                            <button class="bottom-con" style="background-color:  rgb(173, 221, 14); width: 150%;" cols="21px" rows="1px" >THỬ NGAY</button>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="carousel-son relative">
                            <img class="d-block w-100" src="../images/banner.png" alt="Third slide">
                        </div>
                        <div class="top-content absolute" style="margin: 9% 20%;">
                            <span style="font-size: 1.5rem!important;">TRÀ ƯỚP SEN TÂY HỒ</span>
                        </div>
                        <div class="topp-content absolute" style="margin: 16% 20%;width: 20%;">
                            <span style="font-size: 60%!important;">Sự hòa quyện tuyệt vời giữa hương thơm ngan ngát của sen Bách Diệp Tây Hồ và vị đậm đà của trà Tân Cương</span>
                        </div>
                        <div class="view7-top absolute" style="margin: 21% 20%;">
                            <button class="bottom-con" style="background-color:  rgb(173, 221, 14); width: 150%;" cols="21px" rows="1px" >THỬ NGAY</button>
                        </div>
                    </div>
                    </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
                
            </div>
            <div>
                <p class="view7-noibat">SẢN PHẨM NỔI BẬT</p>
            </div>
            <div class="view5-botright">
                <div class="view5-product d-flex" style="margin: 0% 15%;">
                    <div class="product-item position-rel " >
                        <div class="top-product position-rel">
                            <div class="product-image">
                                <a href="../view/tintucphu.html"><img class="images" src="../images/product-1.png" alt="images " style="width: 71%;"></a>
                            </div>
                        </div>
                        <div class="mid-product ">
                            <h5 class="product-cate text-center mb-1r" >TRÀ ƯỚP BÔNG SEN</h5>
                        </div>
                    </div>
                    <div class="product-item position-rel " >
                        <div class="top-product position-rel">
                            <div class="product-image">
                                <img class="images" src="../images/product-1.png" alt="images " style="width: 71%;">
                            </div>
                        </div>
                        <div class="mid-product ">
                            <h5 class="product-cate text-center mb-1r" >TRÀ ƯỚP NHỊ SEN</h5>
                        </div>
                    </div>
                    <div class="product-item position-rel " >
                        <div class="top-product position-rel">
                            <div class="product-image">
                                <img class="images" src="../images/product-2.png" alt="images " style="width: 71%;">
                            </div>
                        </div>
                        <div class="mid-product ">
                            <h5 class="product-cate text-center mb-1r" >TRÀ SHEN TUYẾT</h5>
                        </div>
                    </div>
                    <div class="product-item position-rel " >
                        <div class="top-product position-rel">
                            <div class="product-image">
                                <img class="images" src="../images/product-3.png" alt="images " style="width: 71%;">
                            </div>
                        </div>
                        <div class="mid-product ">
                            <h5 class="product-cate text-center mb-1r" >TRÀ ÔLONG</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="view7-mid relative">
                <div class="view7-bachdiep">
                    <img src="../images/background2.png" alt="bách diệp" style="width: 100%;">
                </div>              
                <div class="view7-gioithieu absolute " style="padding: 17% 43%;">
                    <span style="font-size: 34px!important;">GIỚI THIỆU</span>
                </div>
                <div class="view7-word absolute" style="width: 29%;margin: 34% 20%;text-align: justify;">
                    <span style="font-size: 74%!important;">Trà ướp Sen Bách Diệp - tỉnh hoa văn hóa Hà Thành là sự hòa quyện tuyệt với giữa hưởng thơm ngan ngát của bông sen Bách diệp Hồ Tây và vị đậm đà của trà Tân Cương Thái Nguyên. Qua đôi bàn tay tài hoa và bí quyết nghề một truyền nhiều đời của người the tra Tháng Long, tạo ra thức quá tỉnh tùy, kết tinh văn hóa ngàn năm Thăng Long - Hà Nội</span>
                </div>
                <div class="view7-midbottom absolute" style="margin: 44% 20%;">
                    <button class="bottom-con" style="background-color:  rgb(173, 221, 14); width: 150%;" cols="21px" rows="1px" >ĐỌC THÊM</button>
                </div>
                <div class="view7-sdt absolute" style="margin: 20% 87%;">
                    <i style="color: #8eba8e!important;">0999.999.999</i>
                </div>
            </div><br>
            <div class="view7 relative">
                <div class="view7-imagebot">
                    <img src="../images/background view7.jpg" alt="view7" style="width: 100%;height: 900px;">
                </div>
                <div class="view7-nhan absolute" style="padding: 0% 39%;">
                    <span style="font-size: 153%!important;">NGHỆ NHÂN TRÀ ĐẠO</span>
                </div>
                <div class="view7-bot absolute d-flex " style="margin: 4% 12%;">
                        <div class="product-item " >
                            <div class="top-product">
                                <div class="product-image">
                                    <img class="images" src="../images/professional-tea-1.png" alt="images " style="width: 71%;">
                                </div>
                                <div class="mid-product "> 
                                    <span>Nn. Nguyễn Cao Sơn</span>
                                </div>
                                <div class="view7-content">
                                    <span style="font-size: 53%!important;">Nguyễn Cao Sơn được chọn làm đại diện quảng bá văn hóa Trà Việt tại ngôi nhà ai văn 87 Mã Mây, Hà Nội</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item " >
                            <div class="top-product">
                                <div class="product-image">
                                    <img class="images" src="../images/professional-tea-2.png" alt="images " style="width: 71%;">
                                </div>
                                <div class="mid-product "> 
                                    <span>Nn. Hướng Anh Sướng</span>
                                </div>
                                <div class="view7-content">
                                    <span style="font-size: 53%!important;">Truyền nhân đối thứ 6 của dòng trà Trường Xuân, Hà Nội chia sẻ về nghệ thuật trà đạo, lĩnh vực mà anh dành hen nửa cuộc đời nghiên cứu một sách đam mê.</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item " >
                            <div class="top-product">
                                <div class="product-image">
                                    <img class="images" src="../images/professional-tea-3.png" alt="images " style="width: 71%;">
                                </div>
                                <div class="mid-product "> 
                                    <span>Nn. Nguyễn Thị Dần</span>
                                </div>
                                <div class="view7-content">
                                    <span style="font-size: 53%!important;">Vän ty tay chon hoa, tich gan, thuc hiện từng Công đoạn ướp trà sen. Canx chính bởi nghiên trả, bởi yêu nghề nên cô thiếu nữ Hà thành năm sau vẫn say hưởng vị trà sen Tây Hồ</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item " >
                            <div class="top-product">
                                <div class="product-image">
                                    <img class="images" src="../images/professional-tea-4.png" alt="images " style="width: 71%;">
                                </div>
                                <div class="mid-product "> 
                                    <span>Nn. Nguyễn Hoài Linh</span>
                                </div>
                                <div class="view7-content">
                                    <span style="font-size: 53%!important;">Vô địch toàn thế giới trong cuộc thi Tea Master Cup International 2018 ve pha trà được tổ chức tại Huế</span>
                                </div>
                            </div>
                        </div>
                        <div class="product-item " >
                            <div class="top-product">
                                <div class="product-image">
                                    <img class="images" src="../images/professional-tea-5.png" alt="images " style="width: 71%;">
                                </div>
                                <div class="mid-product "> 
                                    <span>Nn. Viên Trân</span>
                                </div>
                                <div class="view7-content">
                                    <span style="font-size: 53%!important;">Sinh ra và lớn lên trong một gia đình quý tộc phong kiến, trong một môi trường mà việc uống trà và trà Cự ngon, cực thượng hạng là điều không bao giờ thiếu trong nhà.</span>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="view7-sectionbottom absolute">
                    <div >
                        <div style="padding-bottom: 25%;">
                            <span style="font-size: 168%!important;">MUA NGAY</span>
                        </div>
                        <ul class="view7-ul d-flex" style="margin: 0% -169%;
                        margin-left: -140%;">
                            <li style="width: 76%;">
                                <input class="text" style="height: 100%;width: 97%;" type="dienthoai" name="dienThoai" id="dienThoai" pattern="" placeholder="Số điện thoại" cols="21px" rows="1px">
                            </li>
                            <li>
                                <div class="view7-bottom">
                                    <button class="bottom-con" style="background-color:  rgb(173, 221, 14); width: 450%;" cols="21px" rows="1px" >Gửi</button>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="view1-footer">
            <div class="tong2div relative">
                <div class="view1-image">
                    <img src="../images/fotter.png" alt="footer" style="width: 100%;">
                </div>
                <div class="menu-bottom absolute">
                    <ul class="menu d-flex letrai ">
                        <li class="content d-flex w-100">
                            <ul>
                            <img src="../images/logophongtra.png" alt="phong tra " style="width: 70%">
                                <li>
                                    <a href=""> 7999-999-999</a>
                                </li>
                                <li>
                                    <a href=""> Trasenbachdiep@gmail.com</a>
                                </li>
                                <li>
                                    <a href=""> Số 12, Quảng An , Hồ Tây , Hà Nội</a>
                                </li>
                            </ul>
                                
                                
                        </li>
                        <li class="content d-flex w-100 " style="padding-left: 58px;">
                            <ul style="padding: 31px 0px;">
                            <h3 style="font-size: 125%!important;">VỀ CHÚNG TÔI</h3>
                            <li>
                                <a class="menucon"href=""> Giới Thiệu</a>
                            </li>
                            <li>
                                <a class="menucon"href=""> Sản Phẩm</a>
                            </li>
                            <li>
                                <a class="menucon" href="">Tin Tức</a>
                            </li>
                        </ul>
                        </li>
                        <li class="content d-flex w-100">
                            <ul style="padding: 31px 0px;">
                            <h3 style="font-size: 125%!important;">Liên Hệ</h3>
                            <li>
                                <img src="../images/yt.png" alt="youtube" style="width: 5%">
                                <img src="../images/ig.png" alt="instagram" style="width: 5%">
                                <img src="../images/images.png" alt="facebook" style="width: 5%">
                            </li>
                            <li>
                                <a class="menucon"href=""> Copynight 2010-2020</a>
                            </li>
                            <li>
                                <a class="menucon" href="">Trà Sen Bach Diep. all night</a>
                            </li>
                        </ul>
                            
                            
                        </li>
                    </ul>
                </div>
    </div>
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>