<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/tintucphu.css">
</head>
<body>
  
  <header>
    <nav class="nav d-flex" style="padding: 2% 0;">
        <!-- <div class="d-flex"> -->
            
                <div class="logo">
                    <img src="../images/logophongtra.png" alt="phong tra " style="width: 110%">
                </div>
                
                <div class="menutop-ul">
                    <div class="menutop-ulcon" style="align-items: center!important;">
                        <ul class="menu-1 d-flex " style="margin: 2% 0;">   
                            <li class="item">
                                <a href="../view/tc.html" class="link">Trang chủ</a>
                            </li>
                            <li class="item">
                                <a href="../view/gioithieu.html" class="link">Giới thiệu</a>
                            </li>
                            <li class="item">
                                <a href="../view/sanpham.html" class="link">Sản phẩm</a>
                            </li>
                            <li class="item">
                            <a href="../view/tintuc.html" class="link">Tin tức</a>
                            </li>
                            <li class="item">
                            <a href="../view/lienhe.html" class="link">Liên hệ</a>
                            </li>
                </ul>
                    </div>
                </div>
                
    </nav>
</header>

<div class="all relative">
    <div class="view6-background" style="height: 2000px;">
        <img src="../images/background.jpg" alt="background" style="width: 100%;height: 2000px;">
    </div>
    <div class="headbody absolute">
      <section>
          <center class="menu-body"> TIN TỨC </center>
                <div class="menuu ">
                  <div class="container d-flex">
                      <div class="menu-11">
                            <div class="image">
                                <img src="../images/TINTUC_01.jpg" alt="img1" style="width: 100%;">
                            </div>
                            <div class="content center" style=" width: 100%">
                              <p style="color: #73a817!important;">Văn hóa uống trà của người Việt, câu
                                chuyện xưa và nay</p>
                                
                                <p> Trà xanh thái nguyên được phổ biến là một thức uống dân dã, quen thuộc từ bao đời nay. Cây chè xuất hiện chủ yếu ở các tỉnh Thái Nguyên, Phú Thọ, Yên Bái, Lâm Đông là nguồn gốc cho ra những sản phẩm chc có chất lượng cao.</p>
                            </div>
                      </div>

                      <div class="menu-22">
                          <div class="image">
                            <img src="../images/TINTUC_02-05.jpg" alt="img2" style="width: 100%">
                          </div>
                          <div class="content center" style=" width: 100%">
                            <p style="color: #73a817!important;">Chè xanh Thái Nguyên ướp hoa nhài </p>

                            <p> Ở Việt Nam có rất nhiều nơi trồng hoa nhài, đây là loại hoa nở tới 6 tháng năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất nhiều, và trà ướp với hoa nhài giá thành xe hơn nhiều so với trà ướp bông sen Tây Hồ.</p>
                          </div>
                      </div>

                    <div class="menu-33">
                      <div class="image">
                        <img src="../images/TINTUC_03.jpg " alt="img3" style="width: 100%">
                      </div>
                      <div class="content center " style=" width: 100%">
                      <p style="color: #73a817!important;">Cách bảo quản trà Shan Tuyết để giữ được vị hương thơm</p>

                        <p>Chè là loại thức uống dễ mất hương và vị nhất, cũng để hút những mùi hương khác lạ khiến che mất dần đi mùi vị ban đầu. Bảo quản chế là việc hết sức quan trọng mà mỗi người uống cho đều phải biết</p>
                      </div>
                    </div>
                    </div>
                  <div class="container d-flex">
                    <div class="menu-11">
                      <div class="image">
                          <img class="view6-tintuc" src="../images/TINTUC_01.jpg" alt="img1" style="width: 100%">
                      </div>
                      <div class="content center" style=" width: 100%">
                        <p style="color: #73a817!important;">Văn hóa uống trà của người Việt, câu
                          chuyện xưa và nay</p>
                          
                          <p> Trà xanh thái nguyên được phổ biến là một thức uống dân dã, quen thuộc từ bao đời nay. Cây chè xuất hiện chủ yếu ở các tỉnh Thái Nguyên, Phú Thọ, Yên Bái, Lâm Đông là nguồn gốc cho ra những sản phẩm chc có chất lượng cao.</p>
                      </div>
                    </div>


                    <div class="menu-22">
                      <div class="image">
                        <img class="view6-tintuc" src="../images/TINTUC_02-05.jpg" alt="img2" style="width: 100%">
                      </div>
                      <div class="content center" style=" width: 100%">
                        <p style="color: #73a817!important;">Chè xanh Thái Nguyên ướp hoa nhài </p>

                        <p> Ở Việt Nam có rất nhiều nơi trồng hoa nhài, đây là loại hoa nở tới 6 tháng năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất nhiều, và trà ướp với hoa nhài giá thành xe hơn nhiều so với trà ướp bông sen Tây Hồ.</p>
                      </div>
                    </div>


                <div class="menu-33">
                  <div class="image">
                    <img class="view6-tintuc" src="../images/TINTUC_03.jpg " alt="img3" style="width: 100%">
                  </div>
                  <div class="content center " style=" width: 100%">
                  <p style="color: #73a817!important;">Cách bảo quản trà Shan Tuyết để giữ được vị hương thơm</p>

                    <p>Chè là loại thức uống dễ mất hương và vị nhất, cũng để hút những mùi hương khác lạ khiến che mất dần đi mùi vị ban đầu. Bảo quản chế là việc hết sức quan trọng mà mỗi người uống cho đều phải biết</p>
                  </div>
                </div>
                    </div>
                    <div class="container d-flex">
                      <div class="menu-11">
                        <div class="image">
                            <img src="../images/TINTUC_01.jpg" alt="img1" style="width: 100%">
                        </div>
                        <div class="content center" style=" width: 100%">
                          <p style="color: #73a817!important;">Văn hóa uống trà của người Việt, câu
                            chuyện xưa và nay</p>
                            
                            <p> Trà xanh thái nguyên được phổ biến là một thức uống dân dã, quen thuộc từ bao đời nay. Cây chè xuất hiện chủ yếu ở các tỉnh Thái Nguyên, Phú Thọ, Yên Bái, Lâm Đông là nguồn gốc cho ra những sản phẩm chc có chất lượng cao.</p>
                        </div>
                      </div>
        
        
                      <div class="menu-22">
                        <div class="image">
                          <img src="../images/TINTUC_02-05.jpg" alt="img2" style="width: 100%">
                        </div>
                        <div class="content center" style=" width: 100%">
                          <p style="color: #73a817!important;">Chè xanh Thái Nguyên ướp hoa nhài </p>
        
                          <p> Ở Việt Nam có rất nhiều nơi trồng hoa nhài, đây là loại hoa nở tới 6 tháng năm nên hoa nhài tự nhiên được sử dụng để ướp trà rất nhiều, và trà ướp với hoa nhài giá thành xe hơn nhiều so với trà ướp bông sen Tây Hồ.</p>
                        </div>
                      </div>
        
        
                  <div class="menu-33">
                    <div class="image">
                      <img src="../images/TINTUC_03.jpg " alt="img3" style="width: 100%">
                    </div>
                    <div class="content center " style=" width: 100%">
                    <p style="color: #73a817!important;">Cách bảo quản trà Shan Tuyết để giữ được vị hương thơm</p>
        
                      <p>Chè là loại thức uống dễ mất hương và vị nhất, cũng để hút những mùi hương khác lạ khiến che mất dần đi mùi vị ban đầu. Bảo quản chế là việc hết sức quan trọng mà mỗi người uống cho đều phải biết</p>
                    </div>
                  </div>
                      </div>

                </div>
      </section>
    </div>
</div>
<footer>
  <div class="view1-footer">
      <div class="tong2div relative">
          <div class="view1-image">
              <img src="../images/fotter.png" alt="footer" style="width: 100%;">
          </div>
          <div class="menu-bottom absolute">
              <ul class="menu d-flex letrai ">
                  <li class="content d-flex w-100">
                      <ul>
                      <img src="../images/logophongtra.png" alt="phong tra " style="width: 70%">
                          <li>
                              <a href=""> 7999-999-999</a>
                          </li>
                          <li>
                              <a href=""> Trasenbachdiep@gmail.com</a>
                          </li>
                          <li>
                              <a href=""> Số 12, Quảng An , Hồ Tây , Hà Nội</a>
                          </li>
                      </ul>
                          
                          
                  </li>
                  <li class="content d-flex w-100 " style="padding-left: 58px;">
                      <ul style="padding: 31px 0px;">
                      <h3 style="font-size: 125%!important;">VỀ CHÚNG TÔI</h3>
                      <li>
                          <a class="menucon"href=""> Giới Thiệu</a>
                      </li>
                      <li>
                          <a class="menucon"href=""> Sản Phẩm</a>
                      </li>
                      <li>
                          <a class="menucon" href="">Tin Tức</a>
                      </li>
                  </ul>
                  </li>
                  <li class="content d-flex w-100">
                      <ul style="padding: 31px 0px;">
                      <h3 style="font-size: 125%!important;">Liên Hệ</h3>
                      <li>
                          <img src="../images/yt.png" alt="youtube" style="width: 5%">
                          <img src="../images/ig.png" alt="instagram" style="width: 5%">
                          <img src="../images/images.png" alt="facebook" style="width: 5%">
                      </li>
                      <li>
                          <a class="menucon"href=""> Copynight 2010-2020</a>
                      </li>
                      <li>
                          <a class="menucon" href="">Trà Sen Bach Diep. all night</a>
                      </li>
                  </ul>
                      
                      
                  </li>
              </ul>
          </div>
</div>
</div>
</footer>
</body>
</html>