<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../css/tintuc.css">
</head>
<body>
    
    <header>
        <nav class="nav d-flex" style="padding: 2% 0;">
            <!-- <div class="d-flex"> -->
                
                    <div class="logo">
                        <img src="../images/logophongtra.png" alt="phong tra " style="width: 110%">
                    </div>
                    
                    <div class="menutop-ul">
                        <div class="menutop-ulcon" style="align-items: center!important;">
                            <ul class="menu-1 d-flex " style="margin: 2% 0;">   
                                <li class="item">
                                    <a href="../view/tc.html" class="link">Trang chủ</a>
                                </li>
                                <li class="item">
                                    <a href="../view/gioithieu.html" class="link">Giới thiệu</a>
                                </li>
                                <li class="item">
                                    <a href="../view/sanpham.html" class="link">Sản phẩm</a>
                                </li>
                                <li class="item">
                                <a href="../view/tintuc.html" class="link">Tin tức</a>
                                </li>
                                <li class="item">
                                <a href="../view/lienhe.html" class="link">Liên hệ</a>
                                </li>
                    </ul>
                        </div>
                    </div>
                    
        </nav>
    </header>
        <div class="all relative">
            <div class="view3-background">
                <img src="../images/background.jpg" alt="background" style="width: 100%;">
            </div>
            <div class="headbody absolute">
                <section class="view1-section">
                    <nav>
                        <div class="tong">
                            <div class="word">

                                
                            
                                <center class="tieude"><h3 style="padding-bottom: 3%;color: rgb(65, 220, 65);">Văn hóa uống trà của người Việt, câu chuyện xưa và nay </h3></center>

                                <p style="padding-bottom: 3%;">Trà xanh thái nguyên được phổ biến là một thức uống dân dã, quen thuộc từ bao đời nay. Cây che xuất hiện chủ yếu ở các tỉnh Thủ Nguyễn, Phú Thọ, Yên Bái, Lâm Đông... là nguồn gốc cho ra những sản phẩm chè có chất lượng cao.</p>

                            <p >Tùy vào đặc trưng của từng vùng địa lý, khí hậu và cách chế biến khác nhau mà tạo ra các thức uống mang hương vị đặc trưng riêng khác nhau. Lá cho tuổi sau khi được hải vớt rửa sạch, vò nát rồi đun nước uống liền, người ta gọi đó là chủ tươi. Còn những búp cho tuổi được hai vẽ, qua nhiều công đoạn chế biến như phơi, sấy, sao khô, ướp hương hoa... thì được gọi là trà. Trà có quy trình chế bich phức tạp, nhiều công đoạn, tốn công sức hơn nên giá thành cũng cao hơn chế tuổi</p>
                                <div class="image">
                                    <img src="../images/Screenshot 2023-06-20 202620.png" alt="đen" style="width: 100%">
                                </div>
                            <p style="padding-bottom: 3%;">
                                Theo ghi chép, trà khởi nguồn ở các Chùa chiền, nơi gắn kết trà với đạo Phật. Cũng bởi lý do đó, hình thức thưởng trà này được gọi là Thiên trà. Từ chua chiến, hình thức thưởng trà nhanh chóng được ưa chuộng trong chốn cung đình. Thời ngày xưa, chỉ có những người thuộc tầng lớp vua quan, quý tộc, dòng dõi quyền quý mới được thưởng thức tra theo hình thức cầu kỳ này, còn người dân thường chỉ uống loại các tuổi hai từ trên cây xuống. </p>

                            <p style="padding-bottom: 3%;"> Thời phong kiến qua đi, đến các cuộc chiến tranh đã trải qua biết bao thăng trầm của lịch sử khiển cho thú chơi của ngày bình yên bị hạn chế. Tuy nhiên, không vì thế mà văn hóa uống trà của người Việt bị mai một hay mất đi. Những nghệ nhân trà truyền thống tại Hà Nội cũng như nhiều vùng khác trên đất Việt vẫn gìn giữ niềm đam mê và bí quyết chế biến trà cho thế hệ sau này. </p>

                            <p style="padding-bottom: 3%;"> Văn hóa uống trà thái nguyên ngày nay</p>

                            <p style="padding-bottom: 3%;">Thời thế thay đổi, vì thế văn hóa uống trà của người Việt cũng có những sự thay đổi. Chỉ tuổi bây giờ thường thấy có ở những hàng quản nước vỉa hè mà người ta hay gọi là chè tươi, trà đá, là nơi dừng chân nam thời, nơi dành cho những câu chuyện ngày thường. đời thường của người trẻ, dành cho sự thành thời, không với và. </p>

                            <p style="padding-bottom: 3%;">Trà khô trà mạn cũng khác xưa nhiều, không phải chỉ dành cho những gia đình có điều kiện, am hiểu về trà như xưa nữa mà đã được sử dụng rộng rãi, phổ biến hơn. Người ta thích trà mụn, yêu nghệ thuật thưởng trả nên nhiều người thường chú trọng vào ấm trà, cách pha trà và cả cách thưởng thức chúng. Sản phẩm trà cũng đa dạng chủng loại với nhiều hình thức sử dụng hơn. </p>
                                </div>
                            <div class="news">
                                <div class="menu-right ">
                                        
                                    <div class="tintuc-menu">
                                                <div class="tieude" >
                                                    <h3>BÀI VIẾT MỚI</h3>
                                                </div>
                                                <div class="hotay">
                                                    <div class="tintuc">
                                                        <div class="anh">
                                                        <img src="../images/Screenshot 2023-06-21 142632.png" alt="">
                                                        </div>
                                                        <p >Trà Sen Tây Hồ - thủ quà tăng giàu giá trị tinh thần của người Hà Thành</p>
                                                    </div>
                                                    <div class="tintuc">
                                                        <div class="anh">
                                                        <img src="../images/Screenshot 2023-06-21 142632.png" alt="">
                                                        </div>
                                                        <p >Trà Sen Tây Hồ - thứ quà tăng giàu giá trị tinh thần của người Hà Thành</p>
                                                    </div>
                                                    <div class="tintuc">
                                                        <div class="anh">
                                                        <img src="../images/Screenshot 2023-06-21 142632.png" alt="">
                                                        </div>
                                                        <p >Trà Sen Tây Hồ - thứ quà tăng giàu giá trị tinh thần của người Hà Thành</p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>       
                                </div>
                            </div>
                        </div>
                        </nav>
                </section>
        </div>
        <footer>
            <div class="view1-footer">
                <div class="tong2div relative">
                    <div class="view1-image">
                        <img src="../images/fotter.png" alt="footer" style="width: 100%;">
                    </div>
                    <div class="menu-bottom absolute">
                        <ul class="menu d-flex letrai ">
                            <li class="content d-flex w-100">
                                <ul>
                                <img src="../images/logophongtra.png" alt="phong tra " style="width: 70%">
                                    <li>
                                        <a href=""> 7999-999-999</a>
                                    </li>
                                    <li>
                                        <a href=""> Trasenbachdiep@gmail.com</a>
                                    </li>
                                    <li>
                                        <a href=""> Số 12, Quảng An , Hồ Tây , Hà Nội</a>
                                    </li>
                                </ul>
                                    
                                    
                            </li>
                            <li class="content d-flex w-100 " style="padding-left: 58px;">
                                <ul style="padding: 31px 0px;">
                                <h3 style="font-size: 125%!important;">VỀ CHÚNG TÔI</h3>
                                <li>
                                    <a class="menucon"href=""> Giới Thiệu</a>
                                </li>
                                <li>
                                    <a class="menucon"href=""> Sản Phẩm</a>
                                </li>
                                <li>
                                    <a class="menucon" href="">Tin Tức</a>
                                </li>
                            </ul>
                            </li>
                            <li class="content d-flex w-100">
                                <ul style="padding: 31px 0px;">
                                <h3 style="font-size: 125%!important;">Liên Hệ</h3>
                                <li>
                                    <img src="../images/yt.png" alt="youtube" style="width: 5%">
                                    <img src="../images/ig.png" alt="instagram" style="width: 5%">
                                    <img src="../images/images.png" alt="facebook" style="width: 5%">
                                </li>
                                <li>
                                    <a class="menucon"href=""> Copynight 2010-2020</a>
                                </li>
                                <li>
                                    <a class="menucon" href="">Trà Sen Bach Diep. all night</a>
                                </li>
                            </ul>
                                
                                
                            </li>
                        </ul>
                    </div>
        </div>
        </div>
        </footer>
</body>


</html>